
<section class="what-you-get ">
  <div class="container">
  <div class="get-flex-wrapp ">
    
    <div class="you-get-item-wrapp">



              <div class="you-get-item">

                <div class="get-img-wrapp__icon1 ">
                <img  src="./img/features/icon1 1.png" alt="">
              </div>
                  <div class="you-get-text">
                    <h1 class="you-get-title">Creatred to Make The Web Better</h1>
                    <h2 class="you-get-subtitle">Aenean cursus imperdiet nisl id fermentum. Aliquam pharetra dui laoreet vulputate dignissim. Sed id metus id quam auctor molestie eget ut augue. 
                    </h2>
                      
                  </div>
                
              </div>
              <div class="you-get-item">
                <div class="get-img-wrapp__icon2 ">
                <img src="./img/features/icon 2.png" alt="">
              </div>
                <div class="you-get-text">
                  <h1 class="you-get-title">Incredibly Powerful Tool</h1>
                  <h2 class="you-get-subtitle">Maecenas eu dictum felis, a dignissim nibh. Mauris rhoncus felis odio, ut volutpat massa placerat ac. Curabitur dapibus iaculis mi gravida luctus. Aliquam erat volutpat.  
                  </h2>
                    
                </div>
                
              </div>
              <div class="you-get-item">
                <div class="get-img-wrapp__icon3 ">
                <img src="./img/features/icon2 1.png" alt="">
                </div>
                <div class="you-get-text">
                  <h1 class="you-get-title">Experimental Stuff</h1>
                  <h2 class="you-get-subtitle">Maecenas eu dictum felis, a dignissim nibh. Mauris rhoncus felis odio, ut volutpat massa placerat ac. Curabitur dapibus iaculis mi gravida luctus. Aliquam erat volutpat. 
                  </h2>
                    
                </div>
                
              </div>
              <div class="you-get-item">
                <div class="get-img-wrapp__icon4 ">
                <img src="./img/features/icon33 1.png" alt="">
              </div>
                <div class="you-get-text">
                  <h1 class="you-get-title">Creatred to Make The Web Better</h1>
                  <h2 class="you-get-subtitle">Maecenas eu dictum felis, a dignissim nibh. Mauris rhoncus felis odio, ut volutpat massa placerat ac. Curabitur dapibus iaculis mi gravida luctus. Aliquam erat volutpat. 
                  </h2>
                    
                </div>
                
              </div>

    </div>
    <div class="what-you-get-text-wrapp">
    <span class="what-you-get-text">&#60Here is what </span><span class="you-get-span">you get&#62</span>

  </div>

    <div class="big-img-wrapp">

      <img  src="./img/features/editor 1.png" alt="vscode">
    </div>


    
 

    
      
  </div>
</div>

</section>



