<header class="header">

    <nav class="navbar">
        <div class="container">
            <div class="navbar-content">
                <a class="navbar-logo__wrap" href="#">
                    <span class="navbar-logo__wrap__logo"></span>
                    <h2 class="navbar-logo__wrap__text">ForkIO</h2>
                </a>
                <div class="navbar-menu">
                    <ul class="navbar-menu__list popup-menu__list" id="menu">
                        <li class="navbar-menu__item popup-menu__item"><a class="navbar-menu__link popup-menu__link" href="#">Overview</a></li>
                        <li class="navbar-menu__item popup-menu__item"><a class="navbar-menu__link popup-menu__link" href="#">About Fork</a></li>
                        <li class="navbar-menu__item popup-menu__item"><a class="navbar-menu__link popup-menu__link" href="#">Buying Options</a></li>
                        <li class="navbar-menu__item popup-menu__item"><a class="navbar-menu__link popup-menu__link" href="#">Support</a></li>
                    </ul>
                </div>
                <div class="hamb">
                    <div class="hamb__field" id="hamb">
                      <span class="bar"></span>
                      <span class="bar"></span>
                      <span class="bar"></span>
                    </div>
                  </div>
                <a class="navbar-content__btn header-btn" href="#">Buy Now</a>
            </div>
        </div>
        
    </nav>
    <div class="popup-menu" id="popup"></div>

    <div class="header-content-wrap">
    <div class="header-title-wrap">

        <h2 class="header-title-wrap__title">Fork App</h2>
        <p class="header-title-wrap__desc">A real gamechanger in the world of web development</p>
        <p class="header-title-wrap__caption">v. 2.8 For Mac and Windows</p>

    </div>

    <div class="download-btn-wrap">
        <a class="download-btn-wrap__btn header-btn" href="#">Download For Free Now</a>
        <p class="download-btn-wrap__caption">Unlimited 30-Days Trial Period</p>
    </div>
</div>
</header>