

  <section class="fork-pricing">
    <div class="container">
    <h1 class="fork-title">Fork Subscription Pricing</h1>
      
       <div class="fork-flex">
    
              <div class="card-item">
                  <h1 class="card-item__title">Students</h1>
                    <p class="card-item__price">$<span class="card-item__dollar">29</span></p>
                    <p class="card-item__per-month">per month</p>
                    <hr class="card-item__fork-line">
                    <div class="card-item__text-wrapper">
                    <p class="card-item__licens">Personal License</p>
                  </div>
                    <button class="card-item__purchase">purchase</button>
                </div>
                <div class="card-item">
                  <h1 class="card-item__title">professional</h1>
                    <p class="card-item__price">$<span class="card-item__dollar">59</span></p>
                    <p class="card-item__per-month">per month</p>
                    <hr class="card-item__fork-line">
                    <div class="card-item__text-wrapp">
                        <p class="card-item__licens">Professional License</p>
                        <p class="card-item__licens">Email Support</p>
                  </div>
                    <button class="card-item__purchase">purchase</button>
                </div>
                <div class="big-card">
                  <h1 class="big-card__title">agency</h1>
                    <p class="big-card__price">$<span class="dollar">99</span></p>
                    <p class="big-card__per-month">per month</p>
                    <hr class="big-card__line">
                    <div class="big-card__text-wrapp">
                    <p class="big-card__licens">1-12 Team Members</p>
                    <p class="big-card__licens">Phone Support</p>
                  </div>
                    <button class="big-card__purchase">purchase</button>
                </div>
                <div class="card-item">
                  <h1 class="card-item__title">enterprise</h1>
                    <p class="card-item__price">$<span class="card-item__dollar">159</span></p>
                    <p class="card-item__per-month">per month</p>
                    <hr class="card-item__fork-line">
                    <div class="card-item__text-wrapp">
                      <p class="card-item__licens">Unlimited Team Members</p>
                      <p class="card-item__licens">24/ 7 Phone Support</p>
                </div>
                    <button class="card-item__purchase">purchase</button>
                
              </div>
              </div>
       </div>
      </div>
    </section>