<section class="reviews">
    <div class="container">
        <h3 class="reviews__title">People Are Talking About Fork</h3>

        <div class="reviews__grid-wrapp">


            <div class="reviews__grid-wrapp__item">
                <div>
                    <img src="./img/reviews/logo_1.png" alt="">
                </div>
                <p class="reviews__grid-wrapp__text">
                    Sed vestibulum scelerisque urna, eu finibus leo facilisis sit amet. Proin id dignissim magna. Sed
                    varius urna et pulvinar venenatis.
                </p>
            </div>
            <div class="reviews__grid-wrapp__item">
                <div>
                    <img src="./img/reviews/logo_2.png" alt="">
                </div>
                <p class="reviews__grid-wrapp__text">
                    Donec euismod dolor ut ultricies consequat. Vivamus urna ipsum, rhoncus molestie neque ac, mollis
                    eleifend nibh.
                </p>
            </div>
            <div class="reviews__grid-wrapp__item">
                <div>
                    <img src="./img/reviews/logo_3.png" alt="">
                </div>
                <p class="reviews__grid-wrapp__text">
                    In efficitur in velit et tempus. Duis nec odio dapibus, suscipit erat fringilla, imperdiet nibh.
                    Morbi tempus auctor felis ac vehicula.
                </p>
            </div>
            <div class="reviews__grid-wrapp__item">
                <div>
                    <img src="./img/reviews/logo_4.png" alt="">
                </div>
                <p class="reviews__grid-wrapp__text">
                    Sed vestibulum scelerisque urna, eu finibus leo facilisis sit amet. Proin id dignissim magna. Sed
                    varius urna et pulvinar venenatis.
                </p>
            </div>
            <div class="reviews__grid-wrapp__item">
                <div>
                    <img src="./img/reviews/logo_5.png" alt="">
                </div>
                <p class="reviews__grid-wrapp__text">
                    Praesent ut eros tristique, malesuada lectus vel, lobortis massa. Nulla faucibus lorem id arcu
                    consequat faucibus.
                </p>
            </div>
            <div class="reviews__grid-wrapp__item">
                <div>
                    <img src="./img/reviews/logo_6.png" alt="">
                </div>
                <p class="reviews__grid-wrapp__text">
                    Fusce pharetra erat id odio blandit, nec pharetra eros venenatis. Pellentesque porttitor cursus
                    massa et vestibulum.
                </p>
            </div>



        </div>
        <div class="reviews-footer">
            <p class="reviews-footer__text">
                Duis lobortis arcu sed arcu tincidunt feugiat. Nulla nisi mauris, facilisis vitae aliquet id, imperdiet
                quis nibh. Donec eget elit eu libero tincidunt consequat nec elementum orci. Cum sociis natoque
                penatibus et magnis dis parturient montes, nascetur ridiculus mus.
            </p>
        </div>
    </div>
</section>